@import "vars";
@import "mixins";
@import "vendor/reset";

html {
    font-size: 62.5%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #181818;
    font-size: 1.4rem;
    color: $white;
    line-height: 1.5;
    &.no-scroll,
    &.show-sidebar{
        overflow: hidden;
    }
}
a {
    color: inherit;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
// Sidebar
@import "blocks/page";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/stories";
@import "blocks/add-post";
@import "blocks/post";
@import "blocks/main";
@import "blocks/container";
@import "blocks/profile";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/embed";
@import "blocks/pagination";
@import "blocks/related";
@import "blocks/comments";
@import "blocks/form";
@import "blocks/work";
@import "blocks/tags";
@import "blocks/cabinet";
@import "blocks/modal";



